In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

D:\PYFK\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
df = pd.read_csv('employee_data.csv')
df

     Unnamed: 0   id groups  age  healthy_eating  active_lifestyle  salary
0             0    0      A   36               5                 5    2297
1             1    1      A   55               3                 5    1134
2             2    2      A   61               8                 1    4969
3             3    3      O   29               3                 6     902
4             4    4      O   34               6                 2    3574
..          ...  ...    ...  ...             ...               ...     ...
995         995  995      O   33               7                 7    2996
996         996  996      O   21               1                 2     667
997         997  997      O   49               9                 7    4158
998         998  998     AB   56               6                 7    2414
999         999  999      B   64               4                 9     788

[1000 rows x 7 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   id                1000 non-null   int64
 2   groups            1000 non-null   object
 3   age               1000 non-null   int64
 4   healthy_eating    1000 non-null   int64
 5   active_lifestyle  1000 non-null   int64
 6   salary            1000 non-null   int64
dtypes: int64(6), object(1)
memory usage: 54.8+ KB

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
grouped_df = df.groupby('groups')['salary'].agg(['mean','median','max','min','std','var','mad'])
grouped_df

In [ ]:
from seaborn import load_dataset

In [ ]:
df_iris = load_dataset('iris')
df_iris

In [ ]:
df_iris.groupby('species').describe()

In [ ]:
df_iris['species'].unique()

In [ ]:

setosa_data = df_iris[df_iris['species'] == 'setosa']
versicolor_data = df_iris[df_iris['species'] == 'versicolor']
virginica_data = df_iris[df_iris['species'] == 'virginica']
setosa_data.describe()

In [ ]:
versicolor_data.describe()

In [ ]:
virginica_data.describe()