In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from seaborn import load_dataset
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df = load_dataset('titanic')
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df['age'].fillna(df['age'].mean(),axis = 0,inplace = True)
df.drop('deck',axis = 1,inplace = True)
cols = ['embarked','embark_town']
for col in cols:
    df[col].fillna(df[col].mode()[0],inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
grouped_df = df.groupby('sex')['fare'].agg(['mean',    
                                            'median',  
                                            'max', 
                                            'min', 
                                            'std',
                                            'var',])   


#NOTE : mean   -> Mean,
#       median -> Median,
#       max    -> Maximum value,
#       min    -> Minimum value,
#       std    -> Standard Value,
#       var    -> Variance,

In [ ]:
grouped_df

In [ ]:
from seaborn import load_dataset

In [ ]:
df_iris = load_dataset('iris')
df_iris

In [ ]:
df_iris.groupby('species').describe()

In [ ]:
df_iris['species'].unique()

In [ ]:
setosa_data = df_iris[df_iris['species'] == 'setosa']
versicolor_data = df_iris[df_iris['species'] == 'versicolor']
virginica_data = df_iris[df_iris['species'] == 'virginica']

In [ ]:
setosa_data.describe()

In [ ]:
versicolor_data.describe()

In [ ]:
virginica_data.describe()